#######################################
## cmdStub
#######################################

cmdStub/*.exe
cmdStub/*.undo
cmdStub/Bak/

#######################################
## Output/Extracted Files
#######################################

ExpressPythonBin/*
compilers/*
output/*
expressPythonRelease/*

#######################################
## Python
#######################################

*.py[co]
