#######################################
## cmdStub
#######################################

cmdStub/*.exe
cmdStub/*.undo
cmdStub/Bak/

#######################################
## Output/Extracted Files
#######################################

ExpressPython/*
compilers/*
ExpressPython.7z

#######################################
## Python
#######################################

*.py[co]
